<f:layout name="{baseLayout}" />

<f:section name="loginFormFields">
    <div class="form-group t3js-login-oauth-section" id="t3-login-oauth_url-section">
        <f:if condition="{hasOAuthLoginError}">
            <div class="t3js-login-error" id="t3-login-error">
                <div class="alert alert-danger">
                    <strong><f:translate key="oauth2.login.error.message" extensionName="oauth2" /></strong>
                    <p><f:translate key="oauth2.login.error.description" extensionName="oauth2" /></p>
                </div>
            </div>
        </f:if>

        <f:for as="provider" each="{providers}">
            <button type="submit" class="btn btn-block btn-login" name="oauth-provider" value="{provider.identifier}">
                {provider.title}
            </button>
        </f:for>
    </div>
</f:section>