<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="{baseLayout}" />

<f:section name="loginFormFields">
    <div class="form-group t3js-login-oauth-section" id="t3-login-oauth_url-section">
        <f:if condition="{hasOAuthLoginError}">
            <div class="t3js-login-error" id="t3-login-error">
                <div class="alert alert-danger">
                    <strong><f:translate key="oauth2.login.error.message" extensionName="oauth2" /></strong>
                    <p><f:translate key="oauth2.login.error.description" extensionName="oauth2" /></p>
                </div>
            </div>
        </f:if>

        <f:render partial="Login/InterfaceSelector" arguments="{_all}" />

        <div class="form-group" id="t3-login-submit-section">
            <f:for as="provider" each="{providers}">
                <button class="btn btn-block btn-login t3js-login-submit" id="t3-login-submit" type="submit" name="oauth-provider" value="{provider.identifier}"
                        data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> {f:translate(key: 'login.process')}" autocomplete="off">
                    {provider.title}
                </button>
            </f:for>
        </div>
    </div>
</f:section>
</html>
